<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginRegistration</title>
    
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery">
        </script>
        
        <script 
            type="text/javascript" 
            src="http://maps.google.com/maps/api/js?sensor=false">
        </script>
        
        <script type="text/javascript">  
            $(document).ready(function () {  
                initialize();  
            });  
            function initialize() {  
                var mapOptions = {  
                    center: new google.maps.LatLng(6.9167, 79.8473),  
                    zoom: 10,  
                    mapTypeId: google.maps.MapTypeId.ROADMAP  
                };  
                var map = new google.maps.Map(document.getElementById("map_canvas"),  
                    mapOptions);  

                    // create a marker  
                    var latlng = new google.maps.LatLng(6.9167, 79.8473);  
                    var marker = new google.maps.Marker({  
                        position: latlng,  
                        map: map,  
                        title: 'My Place'  
                    });  
            }  
        </script>  
        
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
