@using WeddingPlanner.Models
@model WeddingPlanner.Models.WeddingViewModel

<h1>Plan Your Wedding</h1>
<p><a href="Dashboard">Dashboard</a> | <a href="Logout">Log Out</a></p>

<form asp-controller="Dashboard" asp-action="AddWedding" method="POST">
    <label asp-for="WedderOne"></label>
    <input asp-for="WedderOne">
    <span style="color:red;" asp-validation-for="WedderOne"></span>
    <br>

    <label asp-for="WedderTwo"></label>
    <input asp-for="WedderTwo">
    <span style="color:red;" asp-validation-for="WedderTwo"></span>
    <br>

    <label asp-for="Date"></label>
    <input asp-for="Date">
    <span style="color:red;" asp-validation-for="Date"></span>
    <br>

    <label asp-for="Address"></label>
    <input asp-for="Address">
    <span style="color:red;" asp-validation-for="Address"></span>
    <br>

    <button type="submit" class="btn btn-success">Create</button>
</form>