 @model ProfessionalProfile.Models.RegisterUserViewModel

<div class="form-group">
    <h3>Register</h3>
    <form asp-controller="Home" asp-action="Register" method="POST">
        
        <label asp-for="Name"></label><br>
        <input asp-for="Name"/>
        <span style='color:red;' asp-validation-for="Name"></span>
        <br>
        
        <label asp-for="Email"></label><br>
        <input asp-for="Email"/>
        @{
            if(ViewBag.emailExists != null)
            {
                <span style='color:red;'>@ViewBag.emailExists</span>
            }
            else
            {
                <span style='color:red;' asp-validation-for="Email"></span>
            }
        }
        <br>
        
        <label asp-for="Password"></label><br>
        <input asp-for="Password"/>
        <span style='color:red;' asp-validation-for="Password"></span>
        <br>
        <p>* Password must be at least 8 characters...</p>

        <label asp-for="ConfrimPassword"></label><br>
        <input asp-for="ConfrimPassword"/>
        <span style='color:red;' asp-validation-for="ConfrimPassword"></span>
        <br>

        <label asp-for="Description"></label><br>
        <textarea asp-for="Description" rows=3 cols=21></textarea>
        <span style='color:red;' asp-validation-for="Description"></span>
        <br><br>

        <button type="submit" class="btn btn-success">Register new User</button>
    </form>
</div>